/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); */

body {
  font-family: "Roboto Mono", monospace;
  background-image: url("https://i.pinimg.com/originals/3c/e3/d9/3ce3d96cc6eeeec09ddfe84c6fd3f0e9.jpg");
  background-position: center;
}

.container {
  background: #090809;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px darkred;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  color: white;
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.redes-sociais {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.redes-sociais-logo {
  background: white;
  border-radius: 23px;
  max-height: 32px;
  margin: 12px;
  display: block;
}

.tema button {
  align-self: flex-end;
  font-size: 16px;
  padding: 8px 16px;
  background: #ecf4ff;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #0e1d2f;
}

.projetos {
  color: white;
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #363636 27.49%, #696969 83.19%);
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.projetos-item {
  /*   list-style-type: */
  font-size: 24px;
  font-weight: 400;
  line-height: 42px;
}

.projetos-item a {
  text-decoration: none;
  color: darkred;
  font-weight: bold;
}

.light {
  background: #f7f7f7;
}

.light .container {
  background: linear-gradient(230.65deg, #2f2eff 27.49%, #809ef7 83.19%);
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px;
}

.light .projetos {
  color: black;
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, white 27.49%, white 83.19%);
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

.light .projetos-item a {
  text-decoration: none;
  color: darkblue;
  font-weight: bold;
}

.light .redes-sociais-logo {
  background: #f6f6f6;
  border-radius: 23px;
  max-height: 32px;
  margin: 12px;
}